html {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}

.pictures {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-center {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}